In [2]:


# Task 1
# Loading a dataset into DataFrame and accessing first 
import pandas as pd
path = r"D:\Downloads\Students Social Media Addiction.csv"
df = pd.read_csv(path)
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [3]:
# Task 2
student_info = {
    "Student_ID" : [201,202,203,204,205],
    "Name" : ["Talha", "Ahmed", "Shahzaib", "Fiaz", "Akbar"],
    "Department" : ["CS", "IT", "CS", "SE", "IT"],
    "Marks" : [86,74,91,68,88],
    "Attendance" : [90,82,96,78,92]
}

df = pd.DataFrame(student_info)
IT_students = df[df["Department"] == "IT"]
print("IT Students:\n",IT_students)

avg_marks = df.groupby("Department")["Marks"].mean()
print("Average Marks of each Department:\n",avg_marks)

status_list = []
for marks in df["Marks"]:
    if marks >= 70:
        status_list.append("Pass")
    else:
        status_list.append("Fail")

df["Status"] = status_list

print("Students with Attendance less than 85%:\n", df[df["Attendance"] < 85])

print("Sorted DataFrame by Marks(highest to lowest):",df.sort_values("Marks", ascending=False))

IT Students:
    Student_ID   Name Department  Marks  Attendance
1         202  Ahmed         IT     74          82
4         205  Akbar         IT     88          92
Average Marks of each Department:
 Department
CS    88.5
IT    81.0
SE    68.0
Name: Marks, dtype: float64
Students with Attendance less than 85%:
    Student_ID   Name Department  Marks  Attendance Status
1         202  Ahmed         IT     74          82   Pass
3         204   Fiaz         SE     68          78   Fail
Sorted DataFrame by Marks(highest to lowest):    Student_ID      Name Department  Marks  Attendance Status
2         203  Shahzaib         CS     91          96   Pass
4         205     Akbar         IT     88          92   Pass
0         201     Talha         CS     86          90   Pass
1         202     Ahmed         IT     74          82   Pass
3         204      Fiaz         SE     68          78   Fail